html,
body,
#root {
  height: 100%;
  width: 100%;
  color: #e9e9ed;
  overflow-x: hidden;
}

body {
  background: #0a0a1a;
}

.price-bubble {
  position: absolute;
  top: -20px;
}

@include media-breakpoint-up(sm) {
  .price-bubble {
    top: 15px;
    left: -70px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #e9e9ed;
  }

  &:not(:empty) {
    &:before {
      margin-right: 0.45em;
    }
  }

  &:not(:empty) {
    &:after {
      margin-left: 0.45em;
    }
  }
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

%loading-skeleton {
  color: transparent !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  background-color: #0a0a24 !important;
  border-color: transparent !important;
  border: none !important;
  pointer-events: none !important;
  animation: loading-skeleton 1s infinite alternate !important;
  border-radius: 5px;

  &:hover {
    text-decoration: none !important;
  }

  &::placeholder {
    color: transparent !important;
  }

  & > img {
    visibility: hidden;
  }
}

@keyframes loading-skeleton {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.loading {
  .loader {
    @extend %loading-skeleton;
  }

  .loader-hidden {
    visibility: hidden !important;
  }
}

.hide-magic-iframe {
  .magic-iframe {
    display: none !important;
  }
}
