html,
body,
#root {
  height: 100%;
  width: 100%;
  color: white;
}

.price-bubble {
  position: absolute;
  top: -20px;
}

@include media-breakpoint-up(sm) {
  .price-bubble {
    top: 15px;
    left: -70px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
  }

  &:not(:empty) {
    &:before {
      margin-right: 0.45em;
    }
  }

  &:not(:empty) {
    &:after {
      margin-left: 0.45em;
    }
  }
}
